/* variables */
:root {
    --navbar-height: 64px;
    --navbar-padding-hor: 64px;
    --body-padding-hor: 64px;

    /* colors */
    --color-bg: rgb(240, 240, 240);
    --color-text: rgb(50, 50, 50);
    --color-footer-text: rgb(100, 100, 100);
    --color-footer-bg: rgb(60, 60, 60);
    --color-btn: rgb(80, 140, 245);
    --color-board: rgb(250, 200, 140);
    --color-board-line: rgb(165, 132, 113);
    --color-stone-hover: rgba(190, 100, 100, 0.3);
}

/* General */
html, body {
    background-color: var(--color-bg);
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    background-color: var(--color-btn);
    border-width: 0;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    color: white;
}

#container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Navigation bar */

#nav-bar {
    display: flex;
    /* width: 100%; */
    height: var(--navbar-height);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
    margin-top: 0px;
    /* margin-bottom: 2rem; */
    padding-left: var(--navbar-padding-hor);
    padding-right: var(--navbar-padding-hor);
    vertical-align: middle;
}

#main-logo {
    display: inline-flex;
    font-size: 14px;
    margin: 0px;
    width: var(--navbar-height);
    height: var(--navbar-height);
    top: 0px;
}

#nav-menu {
    display: flex;
    height: var(--navbar-height);
    margin-left: auto;
    margin-right: 0px;
    right: 0px;
}

.nav-menu-items {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Header */

#header {
    display: flex;
    text-align: center;
    padding: 0px;
    height: 48px;
    font-size: 100%;
}

#header.h1 {
    text-align: center;
}

#main-title {
    /* display: inline-block; */
    width: 100%;
    vertical-align: middle;
}

/* Body */

#body {
    display: block;
    padding-left: var(--body-padding-hor);
    padding-right: var(--body-padding-hor);
}

#top-panel {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

#game-board {
    background-color: var(--color-board);
    width: 540px;
    height: 540px;
    margin: auto;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 10px 13px -7px #0000009e, 1px 5px 7px -2px rgb(38 38 38 / 15%);
}

#game-board.start {
    animation: pulse .3s;
    animation-iteration-count: 1;
}

.board-line-ver {
    width: 1px;
    position: absolute;
    background-color: var(--color-board-line);
}

.board-line-hor {
    height: 1px;
    position: absolute;
    background-color: var(--color-board-line);
}

.tile-divs {
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.tile-divs:hover {
    background-color: var(--color-stone-hover);
}

/* Footer */

#footer {
    margin: 0;
    /* height: 100%; */
    padding-left: var(--navbar-padding-hor);
    padding-right: var(--navbar-padding-hor);
    color: var(--color-footer-text);
}

#footer-line {
    background-color: rgb(0, 0, 0, 0.2);
    height: 1px;
    width: 96%;
    margin-top: 32px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.05);}
	100% {transform: scale(1);}
}
